@font-face {
  font-family: "HelveticaLight";
  src: url("../assets/helvetica.otf");
}

@font-face {
  font-family: "PressStart";
  src: url("../assets/PressStart2P.ttf");
}

body {
  position: absolute;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.container-1 {
  z-index: 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container-inside {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.square-0 {
  width: 50vw;
  height: 50vh;
  left: 0px;
  top: 0px;
  background: #585858;
  background: -webkit-gradient(linear, left top, right top, from(#585858), color-stop(59%, #bbbbbb), to(#e3e3e3));
  background: linear-gradient(90deg, #585858 0%, #bbbbbb 59%, #e3e3e3 100%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-animation: background-4 160s infinite;
          animation: background-4 160s infinite;
}

@media (min-width: 700px) {
  .square-0 {
    width: 20vw;
  }
}

@-webkit-keyframes background-4 {
  50% {
    background: -webkit-gradient(linear, left top, right top, from(#a27ef9), color-stop(70%, #e3e3e3));
    background: linear-gradient(90deg, #a27ef9 0%, #e3e3e3 70%);
  }
  75% {
    background: -webkit-gradient(linear, left top, right top, from(#0015ff), color-stop(70%, #e3e3e3));
    background: linear-gradient(90deg, #0015ff 0%, #e3e3e3 70%);
  }
  100% {
    background: -webkit-gradient(linear, left top, right top, from(#ff8400), color-stop(70%, #e3e3e3));
    background: linear-gradient(90deg, #ff8400 0%, #e3e3e3 70%);
  }
}

@keyframes background-4 {
  50% {
    background: -webkit-gradient(linear, left top, right top, from(#a27ef9), color-stop(70%, #e3e3e3));
    background: linear-gradient(90deg, #a27ef9 0%, #e3e3e3 70%);
  }
  75% {
    background: -webkit-gradient(linear, left top, right top, from(#0015ff), color-stop(70%, #e3e3e3));
    background: linear-gradient(90deg, #0015ff 0%, #e3e3e3 70%);
  }
  100% {
    background: -webkit-gradient(linear, left top, right top, from(#ff8400), color-stop(70%, #e3e3e3));
    background: linear-gradient(90deg, #ff8400 0%, #e3e3e3 70%);
  }
}

.square-2 {
  width: 0vw;
  height: 50vh;
  top: 0px;
  left: 30vw;
  background: #8e8e8e;
  background: -webkit-gradient(linear, left bottom, left top, from(#8e8e8e), color-stop(60%, #e3e3e3));
  background: linear-gradient(0deg, #8e8e8e 0%, #e3e3e3 60%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-animation: background-3 120s infinite;
          animation: background-3 120s infinite;
}

@media (min-width: 700px) {
  .square-2 {
    width: 30vw;
  }
}

@-webkit-keyframes background-3 {
  50% {
    background: -webkit-gradient(linear, left bottom, left top, from(#a27ef9), color-stop(60%, #e3e3e3));
    background: linear-gradient(0deg, #a27ef9 0%, #e3e3e3 60%);
  }
  75% {
    background: -webkit-gradient(linear, left bottom, left top, from(#0015ff), color-stop(60%, #e3e3e3));
    background: linear-gradient(0deg, #0015ff 0%, #e3e3e3 60%);
  }
  100% {
    background: -webkit-gradient(linear, left bottom, left top, from(#ff8400), color-stop(60%, #e3e3e3));
    background: linear-gradient(0deg, #ff8400 0%, #e3e3e3 60%);
  }
}

@keyframes background-3 {
  50% {
    background: -webkit-gradient(linear, left bottom, left top, from(#a27ef9), color-stop(60%, #e3e3e3));
    background: linear-gradient(0deg, #a27ef9 0%, #e3e3e3 60%);
  }
  75% {
    background: -webkit-gradient(linear, left bottom, left top, from(#0015ff), color-stop(60%, #e3e3e3));
    background: linear-gradient(0deg, #0015ff 0%, #e3e3e3 60%);
  }
  100% {
    background: -webkit-gradient(linear, left bottom, left top, from(#ff8400), color-stop(60%, #e3e3e3));
    background: linear-gradient(0deg, #ff8400 0%, #e3e3e3 60%);
  }
}

.square-3 {
  top: 0px;
  left: 50vw;
  width: 50vw;
  height: 50vh;
  background: radial-gradient(circle farthest-side at 6vw 44vh, white 0%, #00e5ff 5%, #46fc4b 40%, #e3e3e3 70%);
  -webkit-animation: background 160s infinite;
          animation: background 160s infinite;
}

@-webkit-keyframes background {
  50% {
    background: radial-gradient(circle farthest-side at 6vw 44vh, white 0%, #0dff00 5%, #a27ef9 40%, #e3e3e3 70%);
  }
  75% {
    background: radial-gradient(circle farthest-side at 6vw 44vh, white 0%, #8000ff 5%, #0015ff 40%, #e3e3e3 70%);
  }
  100% {
    background: radial-gradient(circle farthest-side at 6vw 44vh, white 0%, #ff0000 5%, #ff8400 40%, #e3e3e3 70%);
  }
}

@keyframes background {
  50% {
    background: radial-gradient(circle farthest-side at 6vw 44vh, white 0%, #0dff00 5%, #a27ef9 40%, #e3e3e3 70%);
  }
  75% {
    background: radial-gradient(circle farthest-side at 6vw 44vh, white 0%, #8000ff 5%, #0015ff 40%, #e3e3e3 70%);
  }
  100% {
    background: radial-gradient(circle farthest-side at 6vw 44vh, white 0%, #ff0000 5%, #ff8400 40%, #e3e3e3 70%);
  }
}

.square-4 {
  top: 50vh;
  left: 0px;
  width: 50vw;
  height: 50vh;
  background: radial-gradient(circle farthest-side at 44vw 6vh, white 0%, #00e5ff 5%, #46fc4b 40%, #e3e3e3 70%);
  -webkit-animation: background-2 160s infinite;
          animation: background-2 160s infinite;
}

@-webkit-keyframes background-2 {
  50% {
    background: radial-gradient(circle farthest-side at 44vw 6vh, white 0%, #0dff00 5%, #a27ef9 40%, #e3e3e3 70%);
  }
  75% {
    background: radial-gradient(circle farthest-side at 44vw 6vh, white 0%, #8000ff 5%, #0015ff 40%, #e3e3e3 70%);
  }
  100% {
    background: radial-gradient(circle farthest-side at 44vw 6vh, white 0%, #ff0000 5%, #ff8400 40%, #e3e3e3 70%);
  }
}

@keyframes background-2 {
  50% {
    background: radial-gradient(circle farthest-side at 44vw 6vh, white 0%, #0dff00 5%, #a27ef9 40%, #e3e3e3 70%);
  }
  75% {
    background: radial-gradient(circle farthest-side at 44vw 6vh, white 0%, #8000ff 5%, #0015ff 40%, #e3e3e3 70%);
  }
  100% {
    background: radial-gradient(circle farthest-side at 44vw 6vh, white 0%, #ff0000 5%, #ff8400 40%, #e3e3e3 70%);
  }
}

.square-5 {
  width: 0vw;
  height: 50vh;
  left: 50vw;
  top: 50vh;
  background: #e3e3e3;
  background: -webkit-gradient(linear, left top, right top, from(#e3e3e3), color-stop(59%, #bbbbbb), to(#585858));
  background: linear-gradient(90deg, #e3e3e3 0%, #bbbbbb 59%, #585858 100%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-animation: background-5 160s infinite;
          animation: background-5 160s infinite;
}

@media (min-width: 700px) {
  .square-5 {
    width: 19vw;
  }
}

@-webkit-keyframes background-5 {
  50% {
    background: -webkit-gradient(linear, left top, right top, from(#a27ef9), color-stop(70%, #e3e3e3));
    background: linear-gradient(90deg, #a27ef9 0%, #e3e3e3 70%);
  }
  75% {
    background: -webkit-gradient(linear, left top, right top, from(#0015ff), color-stop(70%, #e3e3e3));
    background: linear-gradient(90deg, #0015ff 0%, #e3e3e3 70%);
  }
  100% {
    background: -webkit-gradient(linear, left top, right top, from(#ff8400), color-stop(70%, #e3e3e3));
    background: linear-gradient(90deg, #ff8400 0%, #e3e3e3 70%);
  }
}

@keyframes background-5 {
  50% {
    background: -webkit-gradient(linear, left top, right top, from(#a27ef9), color-stop(70%, #e3e3e3));
    background: linear-gradient(90deg, #a27ef9 0%, #e3e3e3 70%);
  }
  75% {
    background: -webkit-gradient(linear, left top, right top, from(#0015ff), color-stop(70%, #e3e3e3));
    background: linear-gradient(90deg, #0015ff 0%, #e3e3e3 70%);
  }
  100% {
    background: -webkit-gradient(linear, left top, right top, from(#ff8400), color-stop(70%, #e3e3e3));
    background: linear-gradient(90deg, #ff8400 0%, #e3e3e3 70%);
  }
}

.square-6 {
  width: 50vw;
  height: 50vh;
  left: 80vw;
  top: 50vh;
  background: #e3e3e3;
  background: -webkit-gradient(linear, left top, left bottom, from(#e3e3e3), color-stop(59%, #bbbbbb), to(#585858));
  background: linear-gradient(180deg, #e3e3e3 0%, #bbbbbb 59%, #585858 100%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-animation: background-6 160s infinite;
          animation: background-6 160s infinite;
}

@media (min-width: 700px) {
  .square-6 {
    width: 31vw;
  }
}

@-webkit-keyframes background-6 {
  50% {
    background: -webkit-gradient(linear, left top, left bottom, from(#a27ef9), color-stop(70%, #e3e3e3));
    background: linear-gradient(180deg, #a27ef9 0%, #e3e3e3 70%);
  }
  75% {
    background: -webkit-gradient(linear, left top, left bottom, from(#0015ff), color-stop(70%, #e3e3e3));
    background: linear-gradient(180deg, #0015ff 0%, #e3e3e3 70%);
  }
  100% {
    background: -webkit-gradient(linear, left top, left bottom, from(#ff8400), color-stop(70%, #e3e3e3));
    background: linear-gradient(180deg, #ff8400 0%, #e3e3e3 70%);
  }
}

@keyframes background-6 {
  50% {
    background: -webkit-gradient(linear, left top, left bottom, from(#a27ef9), color-stop(70%, #e3e3e3));
    background: linear-gradient(180deg, #a27ef9 0%, #e3e3e3 70%);
  }
  75% {
    background: -webkit-gradient(linear, left top, left bottom, from(#0015ff), color-stop(70%, #e3e3e3));
    background: linear-gradient(180deg, #0015ff 0%, #e3e3e3 70%);
  }
  100% {
    background: -webkit-gradient(linear, left top, left bottom, from(#ff8400), color-stop(70%, #e3e3e3));
    background: linear-gradient(180deg, #ff8400 0%, #e3e3e3 70%);
  }
}

.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  z-index: 10;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (min-width: 700px) {
  .content {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 90vw;
  margin-left: 3vw;
  margin-top: 29vh;
}

@media (min-width: 700px) {
  .name {
    width: 90vw;
    margin-left: 3vw;
    margin-top: 31vh;
  }
}

@media (min-width: 800px) {
  .name {
    width: 50vw;
    margin-left: 5vw;
    margin-top: 29vh;
  }
}

.name h1 {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  color: black;
  font-family: "HelveticaLight";
  font-size: 20vw;
}

@media (min-width: 700px) {
  .name h1 {
    font-size: 12vw;
  }
}

@media (min-width: 800px) {
  .name h1 {
    font-size: 10vh;
  }
}

.container {
  width: 100vw;
  height: 70vh;
}

@media (min-width: 700px) {
  .container {
    width: 50vw;
    height: 100vh;
  }
}

.container-p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 30vh;
}

@media (min-width: 700px) {
  .container-p {
    width: 50vw;
    height: 100vh;
  }
}

.projects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100vw;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

@media (min-width: 700px) {
  .projects {
    width: 50vw;
  }
}

.projects .square {
  width: 90vw;
  height: 300px;
  background-color: #FFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 20px;
  margin: 5vw;
}

@media (min-width: 700px) {
  .projects .square {
    width: 40vw;
    margin: 5vw;
  }
}

@media (min-width: 1054px) {
  .projects .square {
    width: 25vw;
    height: 300px;
    margin: 3vw;
  }
}

.projects .project-buttons {
  padding: 15px;
  font-family: "HelveticaLight";
  font-size: 24px;
  text-align: center;
  color: black;
}

@media (min-width: 1054px) {
  .projects .project-buttons {
    font-size: 24px;
  }
}

.projects .project-button {
  border-radius: 1vh;
  background-color: #00e5ff;
  padding: 22px;
  margin-top: 10px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 10px;
  font-family: "HelveticaLight";
  text-align: center;
  color: black;
  -webkit-box-shadow: 0 5px 5px 0 #8f8f8f;
          box-shadow: 0 5px 5px 0 #8f8f8f;
  -webkit-animation: background-color 200s infinite;
          animation: background-color 200s infinite;
}

.projects a {
  text-decoration: none;
}

@-webkit-keyframes background-color {
  25% {
    background-color: #0dff00;
  }
  50% {
    background-color: #8000ff;
  }
  75% {
    background-color: #ff0000;
  }
}

@keyframes background-color {
  25% {
    background-color: #0dff00;
  }
  50% {
    background-color: #8000ff;
  }
  75% {
    background-color: #ff0000;
  }
}

.projects .project-button:active {
  -webkit-transform: translate(0, 5px);
          transform: translate(0, 5px);
  -webkit-box-shadow: 0 0 2px #8f8f8f;
          box-shadow: 0 0 2px #8f8f8f;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.square-1 {
  width: 100px;
  height: 18px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  background-color: #ffffff;
  border: 1px solid black;
  margin: 25px;
  padding: 15px;
  border-radius: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.square-1 p {
  font-family: 'PressStart';
  font-size: 18px;
  font-display: flex;
  color: black;
}
/*# sourceMappingURL=style.css.map */